# Package Specific
command*
analyze.py

## Data Loader
/data_loader/dump/
/datasets/
/eval/dump/
/train/dump/
backup/
*.zip

## Model
/model/semantic_segmentation/model_zoo/*/*.pth
/model/semantic_segmentation/espnetv2/classification_submodule/model_zoo/*.pth

## CoreML
/coreml/semantic_segmentation/model_zoo/*.mlmodel
/coreml/semantic_segmentation/model_zoo/*.mlmodelc
/coreml/semantic_segmentation/model_zoo/*.mlmodelc.zip
/coreml/semantic_segmentation/model_zoo/*.mlmodel.zip
/coreml/semantic_segmentation/model_zoo/*.mlpackage
/coreml/semantic_segmentation/model_zoo/*.mlpackage.zip
/coreml/semantic_segmentation/model_zoo/dump/

## Edge Device
/edge_device/semantic_segmentation/model_zoo/*

## Results
results*
/results/*
!/results/.gitkeep
/results_segmentation/*
/results_test/*
/results_test_coreml/*
/results_test_executorch/*

# Note: The following content has been pulled from https://github.com/jupyter/notebook
*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo

# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# OS X stuff
*.DS_Store

# End of https://www.gitignore.io/api/python

_temp_extension
junit.xml
[uU]ntitled*
notebook/static/*
!notebook/static/favicons
notebook/labextension
notebook/schemas
docs/source/changelog.md
docs/source/contributing.md

# playwright
ui-tests/test-results
ui-tests/playwright-report

# VSCode
.vscode

# RTC
.jupyter_ystore.db

# yarn >=2.x local files
.yarn/*
.pnp.*
ui-tests/.yarn/*
ui-tests/.pnp.*

# generated html
notebook/templates/*.html